body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 50px;
}

header,
.info,
button {
    max-width: 800px;
    margin-bottom: 20px;
}

.info-header h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 2px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-content {
    display: flex;
    align-items: flex-start;
}

.info-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
}

.info-content p {
    flex: 1;
    margin-top: 0;
    font-size: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.high-contrast {
    color: #fff;
    background-color: #000;
}

.high-contrast .info {
    background-color: #333;
    color: #fff;
}

.footer {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
}